@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Montserrat:wght@400;700&display=swap');
/*-----------------------*/
/*         FONTS         */
/*-----------------------*/
$text-main: 'Archivo', sans-serif;
$text-minor: 'Montserrat', sans-serif;

/*------------------------*/
/*         COLORS         */
/*------------------------*/
$white: #f7f7f2;
$black: #000000;
$green: #99cc33;
$blue: #009999;
$red: #fd3a4a;
