@import '../../styles/main.scss';
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__nav-container {
    width: 100%;
    transition: 0.6s;
  }

  &__burger {
    display: flex;
    justify-content: center;
    background-color: $black;
    width: 100%;

    .burger {
      @include burger-menu;
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }

  &__nav {
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: solid $green medium;
    text-transform: uppercase;
    transition: height 400ms;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
      0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    @media (min-width: 1024px) {
      display: flex;
      height: 100px;
    }

    .logo {
      display: none;
      position: relative;
      width: 200px;
      height: 280px;
      background-color: $white;

      @media (min-width: 1024px) {
        display: block;
      }

      &__content {
        position: absolute;
        bottom: 33%;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.55);
        background-color: $white;
        background-image: url('../../assets/logo-black-transp.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .list {
      position: absolute;
      margin: unset;
      font-family: $text-minor;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1em 0;
      background-color: $white;

      @media (min-width: 1024px) {
        display: flex;
        justify-content: space-between;
        left: 200px;
        height: 100%;
        width: calc(100% - 200px);
        padding: 0;
        $min_font: 16px;
        $min_width: 1024px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
      }

      &__item {
        text-align: center;
        padding: 1em;
        font-weight: 700;
        cursor: pointer;

        a {
          width: 100%;

          @media (min-width: 1024px) {
            line-height: 100px;
          }
        }

        @media (min-width: 1024px) {
          flex-grow: 1;
          display: flex;
          align-items: center;
          height: 100%;
          padding: 0 0.5em;

          &:hover {
            background-color: $green;
          }
        }
      }
    }
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    background-color: $black;
    width: 100%;
    height: calc(35vmax - 66px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  // &__more-info {
  //   @extend %desk;
  // }

  // &__pop-up {
  //   @extend %pop-up;
  // }
}

.slider {
  padding-top: 6.5rem;
  height: 65vmax;
  width: 100%;
  position: relative;
  overflow: hidden;

  @media (min-width: 1024px) {
    margin-top: 34px;
    height: calc(100vh - 100px);
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    animation: slider 18s infinite linear both;

    &:nth-child(2) {
      animation-delay: 3s;
    }

    &:nth-child(3) {
      animation-delay: 6s;
    }

    &:nth-child(4) {
      animation-delay: 9s;
    }

    &:nth-child(5) {
      animation-delay: 12s;
    }

    &:nth-child(6) {
      animation-delay: 15s;
    }
  }

  &__text {
    position: absolute;
    left: 0;
    bottom: 10%;
    font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
    font-family: $text-main;
    @include fluid-type(
      $min_width,
      $max_width,
      $mod_1 * $mod_1 * $mod_1 * $min_font,
      $mod_2 * $mod_2 * $mod_2 * $min_font
    );
    font-weight: 700;
    text-transform: uppercase;
    background-color: $black;
    padding: 10px 40px;
    color: $blue;
    animation: txt 18s linear infinite both;

    &:nth-of-type(2) {
      color: $green;
      animation-delay: 3s;
    }

    &:nth-of-type(3) {
      color: $red;
      animation-delay: 6s;
    }

    &:nth-of-type(4) {
      animation-delay: 9s;
    }

    &:nth-of-type(5) {
      color: $green;
      animation-delay: 12s;
    }

    &:nth-of-type(6) {
      color: $red;
      animation-delay: 15s;
    }
  }
}

@keyframes slider {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  16.66% {
    opacity: 1;
  }
  21.66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes txt {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  13.66% {
    opacity: 1;
  }
  16.66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
