@import '../../../../styles/main.scss';

.calendar {
  &__subtitle {
    &--main {
      margin-bottom: 2em;
    }

    &--minor {
      margin-bottom: 0.2em;

      @media (min-width: 768px) {
        margin-bottom: 0.4em;
      }
    }
  }

  &__paragraph {
    padding: 0 1em;

    &:not(:nth-last-of-type(1)) {
      margin-bottom: 2em;

      @media (min-width: 768px) {
        margin-bottom: 4em;
      }
    }

    &--date {
      text-align: center;
      margin-bottom: 0.6em;
      $min_font: 12px;
      $max_font: 20px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      color: $blue;

      @media (min-width: 768px) {
        margin-bottom: 1.2em;
      }

      & strong {
        font-weight: 700;
        color: $green;
      }
    }
  }
}
