@import '../../../../styles/main.scss';
.membership {
  &__about {
    @media (min-width: 768px) {
      padding-bottom: 2em;
    }
  }

  &__btn {
    display: block;
    margin: 3em auto;

    &:hover {
      margin-bottom: 3.08em;
    }
  }
}
